In [2]:
import sys
print(sys.executable)

/Users/joshrandhawa/Desktop/gym-analytics-dashboard/venv/bin/python

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)

Matplotlib is building the font cache; this may take a moment.

In [4]:
df = pd.read_csv("../data/raw/gym_membership.csv")
df.head()

,id,gender,birthday,Age,abonoment_type,visit_per_week,days_per_week,attend_group_lesson,fav_group_lesson,avg_time_check_in,avg_time_check_out,avg_time_in_gym,drink_abo,fav_drink,personal_training,name_personal_trainer,uses_sauna
0,1,Female,1997-04-18,27,Premium,4,"Mon, Sat, Tue, Wed",True,"Kickboxen, BodyPump, Zumba",19:31:00,21:27:00,116,False,NaN,False,NaN,True
1,2,Female,1977-09-18,47,Standard,3,"Mon, Sat, Wed",False,NaN,19:31:00,20:19:00,48,False,NaN,True,Chantal,False
2,3,Male,1983-03-30,41,Premium,1,Sat,True,XCore,08:29:00,10:32:00,123,True,"berry_boost, lemon",True,Mike,False
3,4,Male,1980-04-12,44,Premium,3,"Sat, Tue, Wed",False,NaN,09:54:00,11:33:00,99,True,passion_fruit,True,Mike,True
4,5,Male,1980-09-10,44,Standard,2,"Thu, Wed",True,"Running, Yoga, Zumba",08:29:00,09:19:00,50,False,NaN,True,Mike,False

In [5]:
df.info()
df.describe()
df.isna().sum()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1000 non-null   int64
 1   gender                 1000 non-null   str
 2   birthday               1000 non-null   str
 3   Age                    1000 non-null   int64
 4   abonoment_type         1000 non-null   str
 5   visit_per_week         1000 non-null   int64
 6   days_per_week          1000 non-null   str
 7   attend_group_lesson    1000 non-null   bool
 8   fav_group_lesson       503 non-null    str
 9   avg_time_check_in      1000 non-null   str
 10  avg_time_check_out     1000 non-null   str
 11  avg_time_in_gym        1000 non-null   int64
 12  drink_abo              1000 non-null   bool
 13  fav_drink              496 non-null    str
 14  personal_training      1000 non-null   bool
 15  name_personal_trainer  518 non-null    str
 16  uses_sauna             1000 non-null   bool
dtypes: bool(4), int64(4), str(9)
memory usage: 105.6 KB

id                         0
gender                     0
birthday                   0
Age                        0
abonoment_type             0
visit_per_week             0
days_per_week              0
attend_group_lesson        0
fav_group_lesson         497
avg_time_check_in          0
avg_time_check_out         0
avg_time_in_gym            0
drink_abo                  0
fav_drink                504
personal_training          0
name_personal_trainer    482
uses_sauna                 0
dtype: int64

In [6]:
df.select_dtypes(include='object').nunique()

/var/folders/pz/_b97r3dd7vb2s7xycv_91tbc0000gn/T/ipykernel_16472/2001172712.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df.select_dtypes(include='object').nunique()

gender                     2
birthday                 974
abonoment_type             2
days_per_week            115
fav_group_lesson         253
avg_time_check_in        556
avg_time_check_out       572
fav_drink                 36
name_personal_trainer      4
dtype: int64

In [7]:
df['workout_type'].value_counts().plot(kind='bar')
plt.title("Workout Type Distribution")
plt.show()

KeyError: 'workout_type'